
.chart{
  background-color: #282c34;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right:1rem;
  padding-bottom: 2rem;
}

.card{
  background-color: "rgb(255, 77, 77)";
}

.icon{
   color: rgb(38, 38, 38);
   opacity: 0.3;
}

.textCard{
  text-align: left;
  color: white;
}

.card-text{
  color: white;
  font-weight: bold;
}

.card-title{
    text-transform: uppercase;
    color: white;
    font-size: 0.5rem;
}

.details{
    background-color: rgb(38, 38, 38);
    text-align:right;
    margin-top: 0.7rem;
    opacity: 0.5;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    color:white;
}

a{
  color: white;
  font-size: 0.7rem;
  padding-right: 0.3rem;
}

.textik{
  margin-left:1rem;
  text-align:left;
  color:lightsteelblue;
  letter-spacing:0.05rem;
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}

#pomer{
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}
.podGrafom{
  text-align: left;
  color:lightsteelblue;
}

strong{
  color: white;
  font-size: 1.3rem;
  padding-right: 0.4rem;
  letter-spacing:0.05rem;
}

.h{
  color: white;
  padding-top: 1rem;
  text-align: left;
  font-size: 1rem;
}

.greenCircle:before{
  content:'●';
  color:rgb(0, 179, 0);
  font-size: 1.6rem;
}

.greenCircle{
    margin-bottom: -10px;
    font-size: 1.2rem;
}
.redCircle{
  font-size: 1.2rem;
}

.redCircle:before{
  text-align: left;
  content:'●';
  color:rgb(204, 0, 0);
  font-size: 1.6rem;
}

.podNadpisGrafu{
   font-size: 0.7rem;
   color: lightsteelblue;
   text-align: left;
  }
